:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-title-color: #212121;
}
/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.92;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-color {
  color: #000000;
}

.navi {
  list-style: none;
}

.link {
  text-decoration: none;
}

.navi-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.addres-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  /* border-color: #f5f4fa; */
  border-color: transparent;
  border-radius: 4px;
  color: var(--primary-title-color);
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  color: var(--primary-white-color);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  /* border-color: var(--accent-color); */
  border-color: transparent;
  color: var(--primary-white-color);
  cursor: pointer;
}

.hero {
  background: rgba(47, 48, 58, 0.8);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.tech {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.desstr {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.business {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.people {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.people-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.gallery {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.gallery-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.foot {
  background: #2f303a;
}

.bottom-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.bottom-logo-color {
  color: var(--primary-white-color);
}
.addres-item {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
